* {
	font-family: Verdana, Geneva, sans-serif; 
	color: "black";
	text-align: center;
}

.c-header {
    color: "white";
    overflow: hidden;
    background-color: #CEA983;
    padding: 20px 10px;
}

.c-header-a {
    float: left;
    color: black;
    text-align: center;
    font-size: 25px;
    text-decoration: none;
    font-weight: bold;
}

.c-header_right {
    float: center;
}

a:hover {
    color: #99774b;
}

body {
	width: 960px;
	margin: 0 auto;
	background-color: #DBCAB5;
}

.header-links {
    font-size: 15px;
    color: #46423E;
    text-decoration: none;
    padding: 20px 0px;

}

article.sideBySide {
	padding: 10px;
    background-color: #CFB695;
	margin: 10px;
	width: 430px;
	float: left;
}

article.main2 {
	padding: 10px;
    background-color: #CFB695;
	margin: 10px;
	float: left;
}

article.main22 {
	padding: 10px;
    background-color: #CFB695;
	margin: 10px;
}

section {
	overflow: auto;
	height: 100%;
}

main {
	padding: 10px;
	background-color: white;
}

.sidebarimg {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 67.3%;
	border: 5px solid white;
}

h3 {
	font-weight: normal;
	color: black;
}

strong {
    color: #3b3630;
}

.centerImage {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	border: 5px solid orange;
}

.centerImage2 {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 67.3%;
	border: 5px solid pink;
}

#content {
	overflow: auto;
	height: 100%;

}

